.app {
  padding: 2rem;
}

[data-slate-editor="true"] {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

[data-slate-editor="true"] :is(p, pre) {
  padding: 0;
  margin: 0;
}

[data-is-entity="true"] {
  display: inline-block;
  border-radius: 3px;
  background: hsla(20deg 50% 50% / 0.3);
} 

.code-container {
  font-size: 1rem;
}